@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap'); 
body { font-family: 'Poppins', sans-serif;
     background: #b9b3a9; 
     display: flex;
     width: 100%;
      justify-content: center;
      
   height: 100%;
        background-color:rgb(187, 24, 187);
     } 
 .quizapp{
justify-content: center;
height: 100%;
  text-align: center;       
 }    
 h2{
   text-align: center;
 }
     .container { 
  width: 700px;
    display: none;
  position:relative;
        background-color: #fff;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          border-radius: 5px; 
          height: 100%;
          text-align: center;
        } 
        h1 {
             text-align: center; 
            } 
     
.options { margin-bottom: 30px;
   
position: relative;
    }
    .radio{
      text-decoration: none;
      background-color: gray;
    }
    .option:hover{
      background-color: rgb(144, 232, 13);
      color: white;
   
    }
     .option
      { 
        display:grid;
        margin-bottom: 10px;
        text-decoration: none;
        font-style: normal;
        background-color:rgb(194, 190, 190);
        border-radius:1mm solid ;
       
     } 
     .button 
     {
       display: inline-block; 
        padding: 10px 20px; 
        background-color: #249cdc;
         color: #fff; border: none;
          cursor: pointer;
           font-size: 18px; 
           border-radius: 4px;
            transition: background-color 0.3s; 
           ;
         } 
     .button:hover { 
        background-color: #989a9b;
     } 
     .result { text-align: center;
         margin-top: 20px; 
         font-weight: bold; } 
     .hide{
         display: none; 
        }
.btn{
         width: fit-content;
       height: fit-content;
       font-family:poppins;
       font-size: 20px;
       font-weight: bold;
       color: purple;
       background-color: lime;
       padding:5px 10px ;
       outline: white;
       border-radius: 1mm;
       cursor: pointer;
       border-color: gold;
       
       
       }
section1{
text-align: center;
}
.Cancel{
   display: inline-block; 
        padding: 10px 20px; 
        background-color:red;
         color: white; 
         border: none;
          cursor: pointer;
           font-size: 18px; 
           border-radius: 4px;
            transition: background-color 0.1s; 
   
}
.Cancel:hover{
   background-color: gold;
   color: black;
}
.scored{
  color: purple;
   background: rgb(0, 30, 255);
   height: 60px;
   text-align: center;
   justify-content: center;
   width: 100%;
}
strong{
   color: rgb(165, 14, 14);
}
st{
   color: blue;
}
correct{
   color: rgb(141, 228, 10);
}
.question{
   color: blue;
   font-size: larger;
   font-weight: bold; 
   margin-bottom: 10px;
}
.answer{
   color: rgb(45, 184, 45);
}
